# Server Configuration
PORT=4000
BASE_URL=http://localhost:4000
JWT_SECRET=mysecretkey

# # Database
MONGO_URL="mongodb://root:root@ac-7znagwe-shard-00-00.uxqy6jo.mongodb.net:27017,ac-7znagwe-shard-00-01.uxqy6jo.mongodb.net:27017,ac-7znagwe-shard-00-02.uxqy6jo.mongodb.net:27017/Project?authSource=admin&replicaSet=atlas-3x5z84-shard-0&ssl=true&appName=Cluster0"

 #Email Configuration (for password reset)
EMAIL=pokhrelsujata188@gmail.com
PASSWORD=rara zjlh ppfq svfq

# # Cloudinary Configuration
# CLOUDNAME=your_cloud_name
# API_KEY=your_api_key
# API_SECRET=your_api_secret 